In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.impute import MissingIndicator

In [2]:
sheet_name = '../../data/Char2_train_set.csv'

In [3]:
df = pd.read_csv(sheet_name)

In [8]:
df

,Unnamed: 0.1,Unnamed: 0,DTronc,LTronc,DChar,LChar,DChar1,LChar1,DChar2,LChar2,Sum
0,1159,1159,0.000000,1.000000,0.058915,0.239651,0.407544,0.164117,55,5.5,0.547390
1,1823,1823,0.627451,0.844444,0.100775,0.686275,0.447368,0.236439,33.28,50.0,0.390320
2,978,978,0.000000,1.000000,0.093023,0.220044,0.390614,0.141864,8.77,6.5,0.391581
3,759,759,0.686275,0.888889,0.100775,0.749238,0.515789,0.130737,44,47.0,0.416978
4,874,874,0.156863,0.555556,0.116279,0.222222,0.000000,0.130737,NaN,NaN,0.345573
...,...,...,...,...,...,...,...,...,...,...,...
1500,2143,2143,0.843137,0.688889,0.193798,0.786928,0.139474,0.133519,NaN,NaN,0.424258
1501,1849,1849,0.607843,0.600000,0.296124,0.235294,0.271930,0.191933,21.33,27.5,0.153793
1502,1156,1156,0.627451,0.555556,0.229457,0.315904,0.732456,0.396384,74.92,90.5,0.379852
1503,1668,1668,0.843137,0.000000,0.170543,0.352941,0.355263,0.242003,24.57,28.0,0.303424
1504,1619,1619,0.843137,0.000000,0.170543,0.632898,0.247895,0.355494,NaN,NaN,0.382461

# Target feature

In [5]:
def convert_to_nan(x):
    try:
        return pd.to_numeric(x)
    except:
        return np.nan

In [6]:
scaler = MinMaxScaler()
imputer = SimpleImputer(strategy='mean')
def process_column(df, column_name, strategy):
    # Convert column values to NaN
    df[column_name] = df[column_name].apply(convert_to_nan)
    
    # Impute missing values using SimpleImputer
    df[column_name] = imputer.fit_transform(df[column_name].values.reshape(-1, 1))
    
    # Scale the resulting column using MinMaxScaler  
    df[column_name] = scaler.fit_transform(df[column_name].values.reshape(-1, 1))
    
    # Pickle the variables
    with open('scaler.pkl', 'wb') as file:
        pickle.dump(scaler, file)
    with open('imputer.pkl', 'wb') as file:
        pickle.dump(imputer, file)

In [7]:
cols = ['PFr1', 'PFr2','PFr3', 'PFr4', 'PFr5', 'PFr6']

for i in cols:
    process_column(df, i, 'mean')

KeyError: 'PFr1'

In [15]:
df['Sum'] = df[['PFr1', 'PFr2', 'PFr3', 'PFr4', 'PFr5', 'PFr6']].sum(axis=1)
df['Sum'] = scaler.fit_transform(df['Sum'].values.reshape(-1, 1))

# Input features

In [16]:
def fill_missing_with_zero(df, column_name):
    df.loc[:, column_name].fillna(0, inplace=True)

def convert_column_to_float32(df, column_name):
    df[column_name] = df[column_name].replace([np.inf, -np.inf], np.nan)
    df[column_name].fillna(0, inplace=True)
    df[column_name] = df[column_name].astype('float32')

In [17]:
cols = ['DTronc', 'LTronc', 'DChar', 'LChar', 'DChar1', 'LChar1']

for col in cols:
    df[col] = df[col].apply(convert_to_nan)
    

for c in cols:
    convert_column_to_float32(df, c)
    
for c in cols:
    df[c] = scaler.fit_transform(df[c].values.reshape(-1, 1))

# Creating multiple sets

In [18]:
df1 = df[['DTronc', 'LTronc', 'DChar', 'LChar', 'DChar1', 'LChar1', 'Sum']]

df2 = df[['DTronc', 'LTronc', 'DChar', 'LChar', 'DChar1', 'LChar1', 'DChar2', 'LChar2', 'Sum']]

df3 = df[['DTronc', 'LTronc', 'DChar', 'LChar', 'DChar1', 'LChar1', 'DChar2',
       'LChar2', 'DChar3', 'LChar3', 'Sum']]

df4 = df[['DTronc', 'LTronc', 'DChar', 'LChar', 'DChar1', 'LChar1', 'DChar2',
       'LChar2', 'DChar4', 'LChar4', 'Sum']]

df5 = df[['DTronc', 'LTronc', 'DChar', 'LChar', 'DChar1', 'LChar1', 'DChar2',
       'LChar2', 'DChar5', 'LChar5', 'Sum']]

In [21]:
new_sheets_names = ['../../data/precoce_1_Char_mean.csv',
                   '../../data/precoce_2_Char_mean.csv',
                   '../../data/precoce_3_Char_mean.csv',
                   '../../data/precoce_4_Char_mean.csv',
                    '../../data/precoce_5_Char_mean.csv'
                   ]

In [22]:
df1.to_csv(new_sheets_names[0])
df2.to_csv(new_sheets_names[1])
df3.to_csv(new_sheets_names[2])
df4.to_csv(new_sheets_names[3])
df5.to_csv(new_sheets_names[4])